<mat-card class="country-card" appCountryCard [region]="country?.region || 'Default'">
  <mat-card-header class="country-card-header">
    <mat-card-title>{{ country?.name?.common }}</mat-card-title>
    <mat-card-subtitle>{{ country?.capital }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{country?.flags?.png}}"
    alt="{{country?.flags?.alt}}"
    class="country-card-flag"
  />
  <mat-card-content>
    <ul appCountryInfo>
      <li><span>Region: </span>{{country?.region}}</li>
      <li><span>Languages: </span>{{formattedLanguages}}</li>
      <li><span>Population: </span>{{country?.population | number}}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Show more info</button>
  </mat-card-actions>
</mat-card>
